<table>
  <thead>
    <tr>
      <th>URL</th>
      <th>Category</th>
      <th>User</th>
      <th>Interval (minutes)</th>
      <th>Last Run</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |feed|}}
      <tr>
        <td>{{#link-to 'adminPlugins.rss-poster.feeds.edit' feed}}{{feed.url}}{{/link-to}}</td>
        <td>{{category-link feed.category allowUncategorized='true'}}</td>
        <td><a href='{{baseuri}}/users/{{user.username}}/activity' data-user-card='{{feed.user.username}}'>{{avatar feed.user imageSize='tiny'}} {{feed.user.username}}</a></td>
        <td>{{feed.interval}}</td>
        <td>{{age-with-tooltip feed.last_run}}</td>
        <td>{{feed-status feed}}</td>
      </tr>
    {{/each}}
  </tbody>
  <div class='buttons'>
    <button {{action 'new'}} class='btn btn-primary'>{{i18n 'admin.groups.new'}}</button>
    <button {{action 'refresh'}} class='btn'>{{d-icon 'refresh'}}{{i18n 'admin.groups.refresh'}}</button>
    <span class="status {{unless status 'hidden'}}">{{status}}</span>
  </div>
</table>
