<table>
  <thead>
    <tr>
      <th>URL</th>
      <th>Category</th>
      <th>User</th>
      <th>Interval (minutes)</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |feed|}}
      <tr>
        <td>{{#link-to 'adminPlugins.rss-poster.feeds.edit' feed}}{{feed.url}}{{/link-to}}</td>
        <td>{{category-link feed.category}}</td>
        <td><a href='{{baseuri}}/users/{{user.username}}/activity' data-user-card='{{feed.user.username}}'>{{avatar feed.user imageSize='tiny'}} {{feed.user.username}}</a></td>
        <td>{{feed.interval}}</td>
      </tr>
    {{/each}}
  </tbody>
  {{#link-to 'adminPlugins.rss-poster.feeds.new'}}New{{/link-to}}
</table>
